@import "navbar.css";

html, body{
	height: 100%;
}

#flex{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	background: #FF6347;
	padding: 100px;
	border-radius: 8%;
}

#flex .form-group label {
	color: white;
}


.btn-color {
	background-color : #75B680;
	color: white;
}

.btn-color:hover {
	background: green;
	color: white;
	transition: all 0.7s;
}


/* BREAKPOINTS */
@media only screen and (min-width: 920px) {
 	nav>div>ul>li:hover {
		background-color: #75B680; 
		transition: all 0.5s;
	}
}
@media only screen and (max-width: 600px) {
  form{
  	padding: 40px;
  }
  nav > div > ul{
	margin-right: 10px;
}
}

/* BREAKPOINTS */
@media only screen and (max-width: 340px) {
  form{
  	padding: 20px;
  }
  nav > div > ul{
	margin-right: 0px;
}
}