html, body{
	height: 100%;
}

#flex{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar-color {
	background-color: rgb(	255, 99, 71);
}
.navbar {
	padding-bottom: 0;
	padding-top: 0;
}
.nav-pills .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0;
  }
nav > div > ul{
	margin-right: 60px;
}

.navbar #navbarNav .navbar-nav .nav-item .nav-link {
	color:white;
}

form {
	background: rgba(255, 99, 71, 0.8);
	padding: 100px;
	border-radius: 20%;
}


.btn-color {
	background-color : #75B680;
	color: white;
}

.btn-color:hover {
	background: green;
	color: white;
	transition: all 0.7s;
}


/* BREAKPOINTS */
@media only screen and (min-width: 920px) {
 	nav>div>ul>li:hover {
		background-color: #75B680; 
		transition: all 0.5s;
	}
}
@media only screen and (max-width: 600px) {
  form{
  	padding: 40px;
  }
  nav > div > ul{
	margin-right: 10px;
}
}

/* BREAKPOINTS */
@media only screen and (max-width: 340px) {
  form{
  	padding: 20px;
  }
  nav > div > ul{
	margin-right: 0px;
}
}